<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Compatible à partir de l&apos;iPhone 6S</string>
			<key>Title</key>
			<string>Général</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>all</string>
			<key>Key</key>
			<string>landscape_mode</string>
			<key>Title</key>
			<string>Mode Paysage</string>
			<key>Titles</key>
			<array>
				<string>Désactivé</string>
				<string>Editeur et Photos</string>
				<string>Activé</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>galerie_message</string>
				<string>all</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>default_tab</string>
			<key>Title</key>
			<string>Onglet par défaut</string>
			<key>Titles</key>
			<array>
				<string>Catégories</string>
				<string>Favoris</string>
				<string>Messages</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>FooterText</key>
			<string>&quot;Drapeaux &amp; Favoris&quot; affiche uniquement les sujets que vous suivez (⚑ + ★) qui disposent de nouvelles réponses. C&apos;est l&apos;affichage classique.

&quot;Favoris&quot; affiche tous les sujets que vous avez placé en favoris (★), qu&apos;une nouvelle réponse soit disponible ou pas. Dans ce cas, les sujets avec de nouvelles réponses sont en gras dans la liste.</string>
			<key>Key</key>
			<string>vos_sujets</string>
			<key>Title</key>
			<string>Onglet &quot;Favoris&quot;</string>
			<key>Titles</key>
			<array>
				<string>Drapeaux &amp; Favoris</string>
				<string>Favoris uniquement</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>sujets_avec_cat</string>
			<key>Title</key>
			<string>Favoris triés par catégories</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>super</string>
			<key>Key</key>
			<string>icon</string>
			<key>Title</key>
			<string>Icône</string>
			<key>Titles</key>
			<array>
				<string>Classique</string>
				<string>Super</string>
				<string>REDFACE</string>
				<string>Beta</string>
				<string>Blue</string>
				<string>White</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>classic</string>
				<string>super</string>
				<string>redface</string>
				<string>beta</string>
				<string>blue</string>
				<string>white</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>shake_to_refresh</string>
			<key>Title</key>
			<string>Shake to refresh</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>haptics</string>
			<key>Title</key>
			<string>Retours haptiques</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Thèmes</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>auto_theme</string>
			<key>Title</key>
			<string>Changement de thème</string>
			<key>Titles</key>
			<array>
				<string>Apparence iOS</string>
				<string>Manuel</string>
				<string>Automatique</string>
				<string>Heure fixe</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>theme_style</string>
			<key>Title</key>
			<string>Style du thème</string>
			<key>Titles</key>
			<array>
				<string>Classique</string>
				<string>Moderne</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>theme</string>
			<key>Title</key>
			<string>Luminosité du thème</string>
			<key>Titles</key>
			<array>
				<string>Clair</string>
				<string>Sombre</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>07:00</string>
			<key>Key</key>
			<string>auto_theme_day_time</string>
			<key>Title</key>
			<string>Heure du thème jour</string>
			<key>Titles</key>
			<array>
				<string>5h</string>
				<string>5h30</string>
				<string>6h</string>
				<string>6h30</string>
				<string>7h</string>
				<string>7h30</string>
				<string>8h</string>
				<string>8h30</string>
				<string>9h</string>
				<string>9h30</string>
				<string>10h</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>05:00</string>
				<string>05:30</string>
				<string>06:00</string>
				<string>06:30</string>
				<string>07:00</string>
				<string>07:30</string>
				<string>08:00</string>
				<string>08:30</string>
				<string>09:00</string>
				<string>09:30</string>
				<string>10:00</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>20:00</string>
			<key>Key</key>
			<string>auto_theme_night_time</string>
			<key>Title</key>
			<string>Heure du thème nuit</string>
			<key>Titles</key>
			<array>
				<string>17h</string>
				<string>17h30</string>
				<string>18h</string>
				<string>18h30</string>
				<string>19h</string>
				<string>19h30</string>
				<string>20h</string>
				<string>20h30</string>
				<string>21h</string>
				<string>21h30</string>
				<string>22h</string>
				<string>22h30</string>
				<string>23h</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>17:00</string>
				<string>17:30</string>
				<string>18:00</string>
				<string>18:30</string>
				<string>19:00</string>
				<string>19:30</string>
				<string>20:00</string>
				<string>20:30</string>
				<string>21:00</string>
				<string>21:30</string>
				<string>22:00</string>
				<string>22:30</string>
				<string>23:00</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ajustement de thème</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKViewControllerClass</key>
			<string>ThemeSettingsViewController</string>
		</dict>
		<dict>
            <key>DefaultValue</key>
            <false/>
            <key>Key</key>
            <string>theme_noel_disabled</string>
            <key>Title</key>
            <string>Arrêter la magie de noël</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
		<dict>
			<key>Title</key>
			<string>Sujets</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>ThorHammerFilled-25</string>
			<key>IASKViewControllerClass</key>
			<string>BlackListTableViewController</string>
			<key>Title</key>
			<string>Liste noire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Masquer les pseudos</string>
            <key>Key</key>
            <string>blacklist_hide_pseudo</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
		<dict>
			<key>IASKCellImage</key>
			<string>HeartBlack-20</string>
			<key>IASKViewControllerClass</key>
			<string>WhiteListTableViewController</string>
			<key>Title</key>
			<string>Love list</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ActionsMessages</string>
			<key>Title</key>
			<string>Actions</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>default</string>
			<key>FooterText</key>
			<string>Le réglage &quot;Système&quot;, disponible depuis iOS7, se trouve dans les options d&apos;accessibilité dans les réglages d&apos;iOS.</string>
			<key>Key</key>
			<string>size_text</string>
			<key>Title</key>
			<string>Taille du texte</string>
			<key>Titles</key>
			<array>
				<string>Normale</string>
				<string>Système</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>sys</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Key</key>
			<string>size_text_reply</string>
			<key>Title</key>
			<string>Taille du texte de réponse</string>
			<key>Titles</key>
			<array>
				<string>12 pt</string>
				<string>13 pt</string>
				<string>14 pt</string>
				<string>15 pt</string>
				<string>16 pt</string>
				<string>18 pt</string>
				<string>20 pt</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>20</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>default</string>
			<key>Key</key>
			<string>size_smileys</string>
			<key>Title</key>
			<string>Taille des smileys</string>
			<key>Titles</key>
			<array>
				<string>Normale</string>
				<string>Grande</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>double</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>yes</string>
			<key>Key</key>
			<string>display_images</string>
			<key>Title</key>
			<string>Afficher les images</string>
			<key>Titles</key>
			<array>
				<string>Jamais</string>
				<string>Wifi</string>
				<string>Toujours</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>no</string>
				<string>wifi</string>
				<string>yes</string>
			</array>
		</dict>
        <dict>
            <key>DefaultValue</key>
            <string>yes</string>
            <key>Key</key>
            <string>embedded_videos</string>
            <key>Title</key>
            <string>Afficher les vidéos</string>
            <key>Titles</key>
            <array>
                <string>Lien</string>
                <string>Intégré</string>
            </array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <string>no</string>
                <string>yes</string>
            </array>
        </dict>
		<dict>
			<key>DefaultValue</key>
			<string>no</string>
			<key>Key</key>
			<string>display_sig</string>
			<key>Title</key>
			<string>Afficher les signatures</string>
			<key>Titles</key>
			<array>
				<string>Oui</string>
				<string>Non</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>yes</string>
				<string>no</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>internal</string>
			<key>Key</key>
			<string>default_web</string>
			<key>Title</key>
			<string>Ouvrir les liens</string>
			<key>Titles</key>
			<array>
				<string>Safari</string>
				<string>Google Chrome</string>
				<string>Navigateur interne</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>http</string>
				<string>googlechrome</string>
				<string>internal</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>notify_poll_not_answered</string>
			<key>Title</key>
			<string>Notifier un sondage non répondu</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Permet de synchroniser certaines données (Drapeaux MP, Blacklist) avec le script équivalent GreaseMonkey.</string>
			<key>Title</key>
			<string>Stockage MP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Activer le stockage MP</string>
			<key>Key</key>
			<string>mpstorage_active</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>-</string>
			<key>Key</key>
			<string>mpstorage_last_rw</string>
			<key>Title</key>
			<string>Dernier acces réussi</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Réinitialiser le MP de stockage</string>
			<key>Key</key>
			<string>mpstorage_reset</string>
		</dict>
        <dict>
            <key>FooterText</key>
            <string></string>
            <key>Title</key>
            <string>Mode Offline</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <integer>20</integer>
            <key>Key</key>
            <string>offline_max_pages</string>
            <key>Title</key>
            <string>Limite de chargement</string>
            <key>Titles</key>
            <array>
                <string>5 pages</string>
                <string>10 pages</string>
                <string>20 pages</string>
                <string>30 pages</string>
                <string>50 pages</string>
                <string>100 pages</string>
            </array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <integer>6</integer>
                <integer>11</integer>
                <integer>21</integer>
                <integer>31</integer>
                <integer>51</integer>
                <integer>101</integer>
            </array>
        </dict>
		<dict>
			<key>Title</key>
			<string>Maintenance</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Vider le cache</string>
			<key>Key</key>
			<string>EmptyCacheButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Menu debug</string>
			<key>Key</key>
			<string>menu_debug</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Favoris ancienne version</string>
            <key>Key</key>
            <string>old_favorites</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
		<dict>
			<key>IASKCellImage</key>
			<string>BugFilled-25</string>
			<key>IASKViewControllerClass</key>
			<string>HFRDebugViewController</string>
			<key>Title</key>
			<string>Debug</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Key</key>
			<string>menu_debug_entry</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>Avancés</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
