<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>FooterText</key>
            <string>Couleur d'action, couleur des topics super favoris et love color</string>
            <key>Title</key>
            <string>Thème clair</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <false/>
            <key>Key</key>
            <string>theme_day_adjust</string>
            <key>Title</key>
            <string>Ajuster le thème clair</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_day_tintcolor</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>ColorWheel</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_day_color_superfavori</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>28-star</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_day_color_love</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>HeartBlack</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>Title</key>
            <string>Valeurs par défaut</string>
            <key>Key</key>
            <string>DefaultValuesDayTheme</string>
        </dict>
        <dict>
            <key>FooterText</key>
            <string>Luminosité, couleur d'action et couleur des topics super favoris</string>
            <key>Title</key>
            <string>Thème sombre</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <false/>
            <key>Key</key>
            <string>theme_night_adjust</string>
            <key>Title</key>
            <string>Ajuster le thème sombre</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_night_brightness</string>
            <key>DefaultValue</key>
            <integer>100</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>130</integer>
            <key>MinimumValueImage</key>
            <string>Contrast</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_night_tintcolor</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>ColorWheel</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_night_color_superfavori</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>28-star</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSSliderSpecifier</string>
            <key>Key</key>
            <string>theme_night_color_love</string>
            <key>DefaultValue</key>
            <integer>33</integer>
            <key>MinimumValue</key>
            <integer>0</integer>
            <key>MaximumValue</key>
            <integer>360</integer>
            <key>MinimumValueImage</key>
            <string>HeartBlack</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>Title</key>
            <string>Valeurs par défaut</string>
            <key>Key</key>
            <string>DefaultValuesDayTheme</string>
        </dict>
	</array>
</dict>
</plist>

