<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>:)</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smile.gif</string>
		<key>resource</key>
		<string>smile.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:(</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/frown.gif</string>
		<key>resource</key>
		<string>frown.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:o</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/redface.gif</string>
		<key>resource</key>
		<string>redface.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:D</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/biggrin.gif</string>
		<key>resource</key>
		<string>biggrin.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>;)</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/wink.gif</string>
		<key>resource</key>
		<string>wink.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:p</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/tongue.gif</string>
		<key>resource</key>
		<string>tongue.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:&apos;(</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/ohill.gif</string>
		<key>resource</key>
		<string>ohill.gif</string>
		<key>editor</key>
		<true/>
	</dict>
    <dict>
        <key>code</key>
        <string>:24:</string>
        <key>src</key>
        <string>https://forum-images.hardware.fr/icones/ohwell.gif</string>
        <key>resource</key>
        <string>ohwell.gif</string>
        <key>editor</key>
        <true/>
    </dict>
	<dict>
		<key>code</key>
		<string>:??:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/confused.gif</string>
		<key>resource</key>
		<string>confused.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:whistle:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/whistle.gif</string>
		<key>resource</key>
		<string>whistle.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:wahoo:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/wahoo.gif</string>
		<key>resource</key>
		<string>wahoo.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:vomi:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/vomi.gif</string>
		<key>resource</key>
		<string>vomi.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:sweat:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/sweat.gif</string>
		<key>resource</key>
		<string>sweat.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:sum:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/sum.gif</string>
		<key>resource</key>
		<string>sum.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:spookie:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/spookie.gif</string>
		<key>resource</key>
		<string>spookie.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:spamafote:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/spamafote.gif</string>
		<key>resource</key>
		<string>spamafote.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:sol:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/sol.gif</string>
		<key>resource</key>
		<string>sol.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:sleep:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/sleep.gif</string>
		<key>resource</key>
		<string>sleep.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:sarcastic:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/sarcastic.gif</string>
		<key>resource</key>
		<string>sarcastic.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:pt1cable:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/pt1cable.gif</string>
		<key>resource</key>
		<string>pt1cable.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:pouah:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/pouah.gif</string>
		<key>resource</key>
		<string>pouah.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:pfff:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/pfff.gif</string>
		<key>resource</key>
		<string>pfff.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:ouimaitre:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/ouimaitre.gif</string>
		<key>resource</key>
		<string>ouimaitre.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:ouch:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/ouch.gif</string>
		<key>resource</key>
		<string>ouch.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:non:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/non.gif</string>
		<key>resource</key>
		<string>non.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:na:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/na.gif</string>
		<key>resource</key>
		<string>na.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:mouais:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/mouais.gif</string>
		<key>resource</key>
		<string>mouais.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:mmmfff:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/mmmfff.gif</string>
		<key>resource</key>
		<string>mmmfff.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:miam:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/miam.gif</string>
		<key>resource</key>
		<string>miam.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:mad:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/mad.gif</string>
		<key>resource</key>
		<string>mad.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:love:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/love.gif</string>
		<key>resource</key>
		<string>love.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:lol:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/lol.gif</string>
		<key>resource</key>
		<string>lol.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:kaola:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/kaola.gif</string>
		<key>resource</key>
		<string>kaola.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:jap:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/jap.gif</string>
		<key>resource</key>
		<string>jap.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:int:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/int.gif</string>
		<key>resource</key>
		<string>int.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:hot:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/hot.gif</string>
		<key>resource</key>
		<string>hot.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:hello:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/hello.gif</string>
		<key>resource</key>
		<string>hello.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:heink:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/heink.gif</string>
		<key>resource</key>
		<string>heink.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:hebe:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/hebe.gif</string>
		<key>resource</key>
		<string>hebe.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:hap:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/hap.gif</string>
		<key>resource</key>
		<string>hap.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:gun:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/gun.gif</string>
		<key>resource</key>
		<string>gun.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:gratgrat:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/gratgrat.gif</string>
		<key>resource</key>
		<string>gratgrat.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:fuck:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/fuck.gif</string>
		<key>resource</key>
		<string>fuck.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:fouyaya:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/fouyaya.gif</string>
		<key>resource</key>
		<string>fouyaya.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:foudtag:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/foudtag.gif</string>
		<key>resource</key>
		<string>foudtag.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:fou:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/fou.gif</string>
		<key>resource</key>
		<string>fou.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:evil:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/fou.gif</string>
		<key>resource</key>
		<string>fou.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:eek2:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/eek2.gif</string>
		<key>resource</key>
		<string>eek2.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:eek:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/eek.gif</string>
		<key>resource</key>
		<string>eek.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:dtc:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/dtc.gif</string>
		<key>resource</key>
		<string>dtc.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:cry:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/cry.gif</string>
		<key>resource</key>
		<string>cry.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:crazy:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/crazy.gif</string>
		<key>resource</key>
		<string>crazy.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:calimero:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/calimero.gif</string>
		<key>resource</key>
		<string>calimero.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:bug:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/bug.gif</string>
		<key>resource</key>
		<string>bug.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:bounce:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/bounce.gif</string>
		<key>resource</key>
		<string>bounce.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:bic:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/bic.gif</string>
		<key>resource</key>
		<string>bic.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:benetton:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/benetton.gif</string>
		<key>resource</key>
		<string>benetton.gif</string>
		<key>editor</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>:ange:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/ange.gif</string>
		<key>resource</key>
		<string>ange.gif</string>
		<key>editor</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>:24:</string>
		<key>src</key>
		<string>https://forum-images.hardware.fr/icones/smilies/24.gif</string>
		<key>resource</key>
		<string>24.gif</string>
		<key>editor</key>
		<false/>
	</dict>
</array>
</plist>
